<div class="passenger-form">
  {{ passengerForm | json }}
  <!-- <div class="passenger-form_head">
    <h2 *ngIf="passenger.passengerName">
      Update Passenger
      <b>{{ passenger.passengerName }}</b
      >'s Information
      <div>
        <hr />
        <button class="btn btn-danger" (click)="removeAllocation()">
          Remove Seat Allocation
        </button>
      </div>
    </h2>

    <h2 *ngIf="!passenger.passengerName">
      Add Passenger
      <b>{{ passenger.passengerName }}</b
      >'s Information for Seat Number - {{ passenger.seatNumber }}
    </h2>
    <div
      *ngIf="errorMessage.length > 0"
      class="alert alert-danger"
      role="alert"
    >
      {{ errorMessage }}
    </div>
  </div> -->

  <form
    action="submit"
    class="passenger-form_input"
    [formGroup]="passengerForm"
  >
    <div class="row">
      <div class="col-md-6">
        <div id="passNameFld" class="form-group">
          <label for="passName">Passenger Name</label>
          <input
            type="text"
            id="passName"
            name="passengerName"
            class="form-control"
            formControlName="passengerName"
          />
        </div>

        <br />
        <div id="dobFld" class="form-group">
          <label for="dob">Date of Birth</label>
          <input
            type="date"
            id="dob"
            name="dob"
            class="form-control"
            formControlName="dateOfBirth"
          />
        </div>

        <br />
        <div id="addFld" class="form-group">
          <label for="address">Address</label>
          <input
            type="text"
            id="address"
            name="address"
            class="form-control"
            formControlName="address"
          />
        </div>

        <br />
        <div id="passNumFld" class="form-group">
          <label for="panNumber">Passport Number</label>
          <input
            type="text"
            id="panNumber"
            name="panNumber"
            class="form-control"
            formControlName="passportNumber"
          />
        </div>
        <br />
      </div>
      <!-- <div class="col-md-6" [formGroup]="passengerForm">
          <div class="form-group">
            <label for="flightNumber"> Flight Number </label>
            <input
              type="text"
              id="flightNumber"
              name="flightNumber"
              class="form-control"
              readonly
              formControlName="flightNumber"
            />
          </div>
          <br />
          <div class="form-group">
            <label for="seatNumber"> Seat Number </label>
            <input
              type="number"
              id="seatNumber"
              name="seatNumber"
              class="form-control"
              max="20"
              formControlName="seatNumber"
            />
          </div>
          <br />
          <div class="form-group">
            <label for="ancillaryService"> Ancillary Service </label>
            <input
              name="ancillaryService"
              id="ancillaryService"
              class="form-control"
              formControlName="ancillaryService"
            />
          </div>
          <br />
          <div class="form-group">
            <label for="mealsService"> Meals Service </label>
            <select
              name="mealsService"
              id="mealsService"
              class="form-control"
              formControlName="mealsService"
            >
              <option value="">--select from below--</option>
              <option value="Grade1">Special Meals</option>
              <option value="Grade2">Medium Meals</option>
              <option value="Grade3">Mini Meals</option>
            </select>
          </div>
          <br />
        </div> -->
    </div>

    <!-- <div class="passenger-form_input_extras">
        <div>
          <input
            *ngIf="passenger.checkedIn"
            type="checkbox"
            id="arrived"
            name="arrived"
            value="false"
            formControlName="checkedIn"
            checked
          />
          <input
            *ngIf="!passenger.checkedIn"
            type="checkbox"
            id="arrived"
            name="arrived"
            formControlName="checkedIn"
            value="false"
          />

          <label for="arrived"> Passenger Arrived</label><br />
        </div>
        <div>
          <input
            *ngIf="passenger.wheelChair"
            type="checkbox"
            id="wheelChair"
            name="wheelChair"
            value="false"
            formControlName="wheelChair"
            checked
          />
          <input
            *ngIf="!passenger.wheelChair"
            type="checkbox"
            id="wheelChair"
            name="wheelChair"
            formControlName="wheelChair"
            value="false"
          />

          <label for="arrived"> Wheel Chair Required?</label><br />
        </div>
        <div>
          <input
            *ngIf="passenger.infant"
            type="checkbox"
            id="infant"
            name="infant"
            value="false"
            formControlName="infant"
            checked
          />
          <input
            *ngIf="!passenger.infant"
            type="checkbox"
            id="infant"
            name="infant"
            formControlName="infant"
            value="false"
          />

          <label for="arrived">Is Passenger an Infant</label><br />
        </div>
      </div> -->

    <div>
      <button class="btn btn-success" type="submit" (click)="updatePassenger()">
        Update Passenger
      </button>
    </div>
  </form>
</div>
