<div class="passenger-form">
  <div class="passenger-form_head">
    <h2 *ngIf="passengerForm.passengerName">
      Update Passenger
      <b>{{ passengerForm.passengerName }}</b
      >'s Information
      <div>
        <hr />
        <button class="btn btn-danger" (click)="removeAllocation()">
          Remove Seat Allocation
        </button>
      </div>
    </h2>

    <h2 *ngIf="!passengerForm.passengerName">
      Add Passenger
      <b>{{ passengerForm.passengerName }}</b
      >'s Information for Seat Number - {{ passengerForm.seatNumber }}
    </h2>
    <div
      *ngIf="errorMessage.length > 0"
      class="alert alert-danger"
      role="alert"
    >
      {{ errorMessage }}
    </div>
  </div>

  <form action="submit" class="passenger-form_input">
    <div class="form-group">
      <div>
        <label for="passName">Passenger Name</label>
        <input
          type="text"
          id="passName"
          name="passengerName"
          class="form-control"
          [(ngModel)]="passengerForm.passengerName"
        />
      </div>
      <br />
      <div>
        <label for="flightNumber"> Flight Number </label>
        <input
          type="text"
          id="flightNumber"
          name="flightNumber"
          class="form-control"
          [(ngModel)]="passengerForm.flightNumber"
        />
      </div>
      <br />
      <div>
        <label for="seatNumber"> Seat Number </label>
        <input
          type="number"
          id="seatNumber"
          name="seatNumber"
          class="form-control"
          max="20"
          [(ngModel)]="passengerForm.seatNumber"
        />
      </div>
      <br />
      <div>
        <label for="ancillaryService"> Ancillary Service </label>
        <select
          name="ancillaryService"
          id="ancillaryService"
          class="form-control"
          [(ngModel)]="passengerForm.ancillaryService"
        >
          <option value="">--select from below--</option>
          <option value="Grade1">Grade 1 Service</option>
          <option value="Grade2">Grade 2 Service</option>
          <option value="Grade3">Grade 3 Service</option>
          <option value="Grade4">Grade 4 Service</option>
        </select>
      </div>
      <br />
      <div class="passenger-form_input_extras">
        <div>
          <input
            *ngIf="passengerForm.checkedIn"
            type="checkbox"
            id="arrived"
            name="arrived"
            value="false"
            [(ngModel)]="passengerForm.checkedIn"
            checked
          />
          <input
            *ngIf="!passengerForm.checkedIn"
            type="checkbox"
            id="arrived"
            name="arrived"
            [(ngModel)]="passengerForm.checkedIn"
            value="false"
          />

          <label for="arrived"> Passenger Arrived</label><br />
        </div>
        <div>
          <input
            *ngIf="passengerForm.wheelChair"
            type="checkbox"
            id="wheelChair"
            name="wheelChair"
            value="false"
            [(ngModel)]="passengerForm.wheelChair"
            checked
          />
          <input
            *ngIf="!passengerForm.wheelChair"
            type="checkbox"
            id="wheelChair"
            name="wheelChair"
            [(ngModel)]="passengerForm.wheelChair"
            value="false"
          />

          <label for="arrived"> Wheel Chair Required?</label><br />
        </div>
        <div>
          <input
            *ngIf="passengerForm.infant"
            type="checkbox"
            id="infant"
            name="infant"
            value="false"
            [(ngModel)]="passengerForm.infant"
            checked
          />
          <input
            *ngIf="!passengerForm.infant"
            type="checkbox"
            id="infant"
            name="infant"
            [(ngModel)]="passengerForm.infant"
            value="false"
          />

          <label for="arrived">Is Passenger an Infant</label><br />
        </div>
      </div>

      <div>
        <button
          class="btn btn-success"
          type="submit"
          (click)="updatePassenger()"
        >
          Update Passenger
        </button>
      </div>
    </div>
  </form>
</div>
