.passenger-form {
  &_input {
    padding: 10px;
    width: 40%;
    float: left;
  }
}
@media screen and (max-width: 800px) {
  .passenger-form {
    &_input {
      padding: 10%;
      width: 100%;
    }
  }
}
