.passenger-form {
  &_head {
    padding: 1%;
  }
  &_input {
    padding: 10px;
    width: 40%;
    float: left;
    &_extras {
      display: flex;
      gap: 5%;
    }
  }
}
@media screen and (max-width: 800px) {
  .passenger-form {
    &_head {
      padding: 1%;
    }
    &_input {
      padding: 10%;
      width: 100%;
      &_extras {
        display: flex;
        flex-direction: column;
        gap: 5%;
      }
    }
  }
}
