<div class="passenger-details">
  <br />
  <div class="passenger-details_feature">
    <button
      class="btn btn-info"
      routerLink="/passenger/0/0/{{ flightNo }}"
      *ngIf="actionType == 'admin'"
    >
      Add New Passenger
    </button>
    <div *ngIf="passengersList.length === 0">
      <h3>
        No passenger's found for Flight <b>{{ flightNo }}</b>
      </h3>
    </div>
    <div *ngIf="actionType === 'checkIn'">
      <label for="filterOption"> Filter By </label>
      <select
        name="filterOption"
        id="filterOption"
        class="form-control"
        [(ngModel)]="filterBy"
        (change)="applyfilter()"
      >
        <option value="">-Remove Filters-</option>
        <option value="checkIn">Checked In</option>
        <option value="notCheckIn">Not Checked In</option>
        <option value="wheelChair">Wheel Chair Required</option>
        <option value="infant">Infant</option>
      </select>
    </div>
    <div *ngIf="actionType === 'admin'">
      <label for="filterOption"> Filter By </label>
      <select
        name="filterOption"
        id="filterOption"
        class="form-control"
        [(ngModel)]="filterBy"
        (change)="applyfilter()"
      >
        <option value="">-Remove Filters-</option>
        <option value="missPass">Missing Passport</option>
        <option value="missAdd">Missing Address</option>
        <option value="missDob">Missing Date of Birth</option>
      </select>
    </div>
  </div>

  <div *ngIf="passengersList.length >= 1 && flightNo">
    <h3>
      Passengers of Flight Number <b>{{ flightNo }}</b>
    </h3>
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">Seat Number</th>
          <th scope="col">Passenger Name</th>

          <th scope="col">Ancillary</th>
          <th></th>
        </tr>
      </thead>
      <tbody
        *ngFor="
          let passenger of passengersList
            | paginate : { itemsPerPage: 5, currentPage: p }
        "
      >
        <tr>
          <td>{{ passenger.seatNumber }}</td>
          <td>{{ passenger.passengerName }}</td>
          <td>{{ passenger.ancillaryService }}</td>
          <td style="text-align: center">
            <button
              class="btn btn-success"
              (click)="
                updatePassenger(passenger.passengerId, passenger.seatNumber)
              "
            >
              Update
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
