<div class="passenger-details">
  <br />
  <div *ngIf="passengersList.length >= 1 && flightNo">
    <button class="btn btn-info" routerLink="/passenger">
      Add a Passenger
    </button>
    <h2>
      Passengers of Flight Number <b>{{ flightNo }}</b>
    </h2>
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">Seat Number</th>
          <th scope="col">Passenger ID</th>
          <th scope="col">Passenger Name</th>

          <th scope="col">Ancillary</th>
          <th></th>
        </tr>
      </thead>
      <tbody
        *ngFor="
          let passenger of passengersList
            | paginate : { itemsPerPage: 5, currentPage: p }
        "
      >
        <tr>
          <td>{{ passenger.seatNumber }}</td>
          <td>{{ passenger.passengerId }}</td>
          <td>{{ passenger.passengerName }}</td>
          <td>{{ passenger.ancillaryService }}</td>
          <td style="text-align: center">
            <button
              class="btn btn-success"
              (click)="
                updatePassenger(passenger.passengerId, passenger.seatNumber)
              "
            >
              Update
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
