<header class="header">
  <span class="material-symbols-outlined header_flight" routerLink="/home">
    flight
  </span>
  <h1>Welcome to Airplane Service</h1>

  <nav class="navItems">
    <span
      class="navItems_airStaff text"
      [ngStyle]="{
        color: actionType === 'checkIn' ? 'red' : ''
      }"
      (click)="updateType('checkIn')"
      >AirLine Staff</span
    >
    <span> |</span>
    <span
      class="navItems_admin text"
      style="margin-left: 10px"
      (click)="updateType('admin')"
      [ngStyle]="{
        color: actionType === 'admin' ? 'red' : ''
      }"
      >Admin</span
    >
  </nav>
</header>

<router-outlet></router-outlet>
