<header class="header">
  <span class="material-symbols-outlined header_flight" routerLink="/home">
    flight
  </span>
  <h1>Welcome to Airplane Service</h1>

  <div class="navItems">
    <span
      [ngStyle]="{
        color: actionType === 'checkIn' ? 'red' : ''
      }"
      (click)="updateType('checkIn')"
      >AirLine Staff</span
    >
    <span> | </span>
    <span
      style="margin-left: 10px"
      (click)="updateType('admin')"
      [ngStyle]="{
        color: actionType === 'admin' ? 'red' : ''
      }"
      >Admin</span
    >
  </div>
</header>
<!-- <body>
  <img
    src="https://www.savethestudent.org/uploads/flights.jpg"
    alt=""
    style="opacity: 0.6"
  />
</body> -->

<router-outlet></router-outlet>
