<header class="header">
  <h1>Welcome to Airplane Service</h1>

  <div class="navItems">
    <span
      routerLink="/flights"
      [ngStyle]="{
        color: actionType === 'checkIn' ? 'red' : ''
      }"
      (click)="updateType('checkIn')"
      >AirLine Staff</span
    >
    <span> | </span>
    <span
      routerLink="/flights"
      style="margin-left: 10px"
      (click)="updateType('admin')"
      [ngStyle]="{
        color: actionType === 'admin' ? 'red' : ''
      }"
      >Admin</span
    >
  </div>
</header>

<router-outlet></router-outlet>
