.header {
  color: white;
  text-align: center;
  background-color: #3b5ee3;
  padding: 20px;
  margin: 0px;
}
.navItems {
  display: inline;
  float: right;
  font-size: 25px !important;
}

.navItems:hover {
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .header {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .navItems {
    display: inline;
    float: unset;
    font-size: 25px !important;
  }
}
