.flight-card {
  display: flex;
  gap: 10%;
  flex-wrap: wrap;
  padding: 5%;
  margin: 5px;
  justify-content: center;
  &_item {
    width: 300px;
    height: 200px !important;
    border-radius: 5%;

    color: wheat;
    margin: 5% !important;
  }
}
@media screen and (max-width: 800px) {
  .flight-card {
    display: flex;
    gap: 10%;
    flex-wrap: wrap;
    padding: 5%;
    margin: 5px;
    &_item {
      padding: 15%;
      width: 120px;
      height: 200px !important;
      border-radius: 5%;
      background-color: black;
      color: wheat;
      margin: 5% !important;
    }
  }
}
