.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #005f73;
  padding: 10px;

  float: left;
  margin: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: 5px;
}
.grid-item:hover {
  cursor: pointer;
}
.gap {
  grid-column: 3;
  grid-row: 1 / span 5;
  display: flex;
}
.seat-info {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  margin: 21px;
}
.grid-item1 {
  height: 80px;
  width: 80px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  display: inline-block;
}

@media screen and (max-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #005f73;
    padding: 5%;
    overflow-x: auto;
    float: left;
    width: 100%;
    margin: 0%;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin: 2px !important;
    padding: 10px;
    font-size: inherit;
    text-align: center;
    margin: 5px;
  }
  .seat-info {
    display: block;
  }
  .grid-item1 {
    height: 60px;
    margin: 10px;
    width: 80px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    display: inline-block;
  }
}

@media screen and (max-width: 300px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #005f73;
    padding: 5%;
    overflow-x: auto;
    width: 100%;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin: 2px !important;
    padding: 0px;
    font-size: inherit;
    text-align: center;
    margin: 5px;
  }
  .seat-info {
    display: block;
  }
  .grid-item1 {
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
  }
}
