<div>
  <h3>
    <b>{{ seatAllocations.flightNo | uppercase }}</b> Passenger's Check In
    details
  </h3>
  <div class="grid-container">
    <ng-container *ngFor="let passenger of seatAllocations.passengers">
      <div class="grid-item gap"></div>
      <div
        class="grid-item"
        [ngStyle]="{
          'background-color':
            passenger.checkedIn && passenger.passengerName != 'N/A'
              ? 'green'
              : '#ef233c',
          color: passenger.passengerName === 'N/A' ? '' : 'white'
        }"
      >
        <div *ngIf="passenger.checkedIn">
          {{ passenger.passengerName }}
        </div>
        <div *ngIf="!passenger.checkedIn && passenger.passengerName != 'N/A'">
          {{ passenger.passengerName }}
          <sup><small style="font-size: 15px">(R)</small></sup>
        </div>
        <div *ngIf="passenger.passengerName == 'N/A'">
          {{ passenger.passengerName }}
        </div>
      </div>
    </ng-container>
  </div>
  <div class="seat-info">
    <div>
      <div class="grid-item1" style="background-color: #ef233c; color: black">
        N/A
      </div>
      <span>No passenger Expected</span>
    </div>
    <div>
      <div class="grid-item1" style="background-color: #ef233c">
        Name <sup>R</sup>
      </div>
      Seat Booked and passenger not arrived
    </div>
    <div>
      <div class="grid-item1" style="background-color: green">Booked</div>
      Seat Booked and passenger arrived
    </div>
  </div>
</div>
