/* You can add global styles to this file, and also import other style files */
.flight-card {
  display: flex;
  gap: 10%;
  flex-wrap: wrap;
  padding: 5%;
  margin: 5px;
  justify-content: center;
  &_item {
    width: 300px;
    height: 200px !important;
    border-radius: 5%;
    color: wheat;
    margin: 5% !important;
    transition: all 0.5s;
  }
}
.flight-card_item:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
h2 {
  text-align: center;
}
@media screen and (max-width: 800px) {
  .flight-card {
    display: flex;
    gap: 10%;
    flex-wrap: wrap;
    padding: 5%;
    margin: 5px;
    transition: all 0.5s;
    &_item {
      width: 120px;
      height: 200px !important;
      border-radius: 5%;

      color: wheat;
      margin: 5% !important;
    }
  }
  .flight-card_item:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
  }
}

@media screen and (max-width: 300px) {
  .flight-card {
    display: flex;
    gap: 10%;
    flex-wrap: wrap;
    padding: 5%;
    margin: 5px;
    transition: all 0.5s;
    &_item {
      width: 120px;
      height: 200px !important;
      border-radius: 5%;

      color: wheat;
      margin: 5% !important;
    }
  }
  .flight-card_item:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
  }
  h2 {
    font-size: 20px;
  }
}
