<h1 mat-dialog-title>Flight Number : {{ data.flightNo }} Services</h1>
<div mat-dialog-content>
  Ancillary Service:
  <mat-form-field [formGroup]="flightDetails">
    <mat-label>Select Ancillary Service</mat-label>
    <mat-select formControlName="selectedAncillaryServices" multiple>
      <mat-option
        *ngFor="let service of availableAncillaryServices"
        [value]="service"
        >{{ service }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-content>
  Shopping Items
  <mat-form-field [formGroup]="flightDetails">
    <mat-label>Select Shopping Items: </mat-label>
    <mat-select formControlName="providedShoppingItems" multiple>
      <mat-option
        *ngFor="let service of availableShoppingItems"
        [value]="service"
        >{{ service }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>
<div>
  <button class="btn btn-info" (click)="close()">Cancel</button>
  <button class="btn btn-success" (click)="updateFlightDetails()">Save</button>
</div>
